.missing-row {
    background-color: red !important; /* Red background for missing items */
    color: white; /* Optional: change text color for better visibility */
  }
  .missing-row:hover td{
    background-color: rgba(107, 3, 3, 0.342) !important; /* Red background for missing items */
  }.completed-row {
    background-color: #93f893 !important;
}
.completed-row:hover td {
  background-color: #7bda7b !important;
}
  .highlighted {
    background-color: #adc6ff; /* Step 2: Highlight color */
  }

  .highlighted-row {
    background-color: #60ff60 !important; /* Light green background */
  }
  .highlighted-row:hover td{
    background-color: #54c054 !important; /* Light green background */
  }
  /* Add these styles to your existing CSS */
.already-picked-row {
  background-color: #d9f7be !important;
}
.already-picked-row:hover {
  background-color: #b7eb8f !important;
}
  /* styles.css */

  .rectangle {
    z-index: 0;
    width: 100%;
    height: 20%;  /* You can adjust the height as needed */
    background-color: rgb(230 45 58);  /* Rectangle background color */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  /* Adds some space between the rectangle and the grid */
}

.rectangle-text {
    color: white;  /* Text color */
    font-size: 16px;  /* Text size */
    font-weight: bold;
}


.dark-row {
  background: #444; /* Background for table cells */
  color: #fff; /* Text color for table cells */
}
.custom-row-hover:hover td {background: rgba(224, 248, 232, 1)!important;}

/* Optional: Customize hover effects */
.dark-row:hover td{
  background: #555 !important; /* Row hover effect */
}

.striped-table .ant-table-row:nth-child(odd) {
    background-color: #f5f5f5;
}

.striped-table .ant-table-row:nth-child(even) {
    background-color: #ffffff;
}

/* Optional: Add hover effect */
.striped-table .ant-table-row:hover td {
    background-color: rgba(233, 93, 102, 0.466) !important;
}

/* Mobile-first styles */
.picking-container {
    flex-direction: column;
}

.table-sider {
    height: auto !important;
    max-height: 60vh;
    overflow: auto;
}

.map-layout {
    height: 50vh;
}

.mobile-warehouse-container {
    height: 100%;
    position: relative;
}

.pagination-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Desktop styles */
@media (min-width: 768px) {
    .picking-container {
        flex-direction: row;
    }
    
    .table-sider {
        height: 100vh !important;
        max-height: none;
    }

    .map-layout {
        height: auto;
    }

    .pagination-container {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}

