/* Compact scaling for the form and cards */
.stocking-dettagli {
    padding: 10px;
    max-width: 1200px; /* Limit the max width for a more compact view */
    margin: 0 auto; /* Center the container */
  }
  
  .title {
    font-size: 28px; /* Slightly smaller title */
  }
  .deposited-row {
    background-color: #f0f0f0 !important;
    opacity: 0.5;
  }
  

  /* Style for disabled rows */
  .ant-table-row-disabled > td {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: #f5f5f5 !important;
    cursor: not-allowed !important;
  }
  
  /* Override hover styles for disabled rows */

  
  /* Style for checkbox in disabled rows */
  .ant-table-row-disabled .ant-checkbox-wrapper {
    cursor: not-allowed !important;
  }
  
  .ant-table-row-disabled .ant-checkbox-input {
    cursor: not-allowed !important;
  }
  /* Override ant design table row hover */

  .alert {
    margin-bottom: 10px;
  }

  
  .card {
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  
  .input-number-small {
    width: 100%; /* Full width for number input */
  }
  
  .select-small .ant-select-selector {
    font-size: 14px; /* Smaller font size for select dropdown */
    height: 30px; /* Shorter select dropdown */
    line-height: 30px; /* Align text vertically */
  }
  
  .button {
    font-size: 14px; /* Smaller font size for the button */
    height: 30px; /* Shorter button */
  }
  

  .stocking-dettagli .ant-card {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    min-height: 200px; /* Adjust this value as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 95%;
  }
  
  .card .ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .input-small {
    width: 100%;
  }
  
  .actions {
    margin-top: 16px;
  }
  