/* ViewMagazzino.css */
.view-magazzino {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full viewport height */
    width: 100%; /* Full viewport width */
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  
  .grid-group {
    display: grid;
    gap: 2px;
    margin-bottom: 1%; /* Space between grid sections */
    height: auto;
  }
  
  .large-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
  }
  
  .smaller-grid {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }
  
  .second-group {
    width: 75%; /* 75% of the screen width */
  }
  
  .spacer {
    height: 2%; /* Space between grid sections */
  }
  
  .third-grid {
    width: 60%;
    margin-left: 20%;
   
   
}



/* ViewMagazzino.css */
.hidden-input {
  position: absolute;
  left: -9999px; /* Hide the input off-screen */
}

.grid-item {
 
  text-align: center;
  background-color: #f0f0f0;
}

.highlight {
  background-color: yellow;
}

.spacer {
  height: 20px;
}


.highlight {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.hidden-input {
  opacity: 0;
}




.grid-item.green {
  background-color: lightgreen;
}

.grid-item.red {
  background-color: lightcoral;
}

.view-magazzino {
  display: flex;
  flex-direction: column;
}

.view-magazzino-content {
  flex-grow: 1; /* Allow content to grow and push pagination to bottom */
  overflow-y: auto; /* Add scroll if content exceeds viewport */
}
.lower-shelf {
  width: 100%;
  display: flex;
  justify-content: center;
}